* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in-out;
}

p {
    font-size: 1.2rem;
    color: #666;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

